[submodule "curriculum-kerndoelen"]
	path = curriculum-kerndoelen
	url = https://github.com/slonl/curriculum-kerndoelen.git
[submodule "curriculum-examenprogramma"]
	path = curriculum-examenprogramma
	url = https://github.com/slonl/curriculum-examenprogramma
